<!DOCTYPE html>

<html lang=en>
  
<head>
  <title>ECS 171 Thing</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/layout.css') }}">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

  <script defer type="text/javascript" src="{{ url_for('static',filename='scripts/buttons.js') }}"></script>
  <script defer type="text/javascript" src="{{ url_for('static',filename='scripts/form.js') }}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src>"https://code.jquery.com/jquery-3.6.0.js"</script>
</head>
  
<body>  
    <div class = "container">
      <header>
      	<div class="header_element" id = "title">
        	<h1 class="header_element" >Car Classifier</h1>
          <img id="car_emoji" src="{{ url_for('static',filename='images/automobile.png') }}"> 
  	    </div>
    </header>
  	<main>
      <div class=input_box> 
        <h1 class="header_element" id = "text">Upload a picture</h1>
        <div class="preview">
          <img id="file-preview">
          <p id="file-info"></p>
        </div>
        <form class=input_box method="post" action="/predict" enctype="multipart/form-data" id="formElem"> 
          <label for="file-ip-1">Upload Image</label>
          <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);" name="file"> 
          <label for="file-ip-2" id="submit_btn">Submit</label>
          <input type="submit" value="Submit" id="file-ip-2">
        </form>
        <p id="predicted_model"><strong></strong></p>
      </div>
  	</main>
  </div> 
</body> 

</html>
